[submodule "3rdparty/boost_smart_ptr"]
	path = 3rdparty/boost_smart_ptr
	url = https://github.com/boostorg/smart_ptr
[submodule "3rdparty/boost_config"]
	path = 3rdparty/boost_config
	url = https://github.com/boostorg/config
[submodule "3rdparty/boost_assert"]
	path = 3rdparty/boost_assert
	url = https://github.com/boostorg/assert
[submodule "3rdparty/boost_core"]
	path = 3rdparty/boost_core
	url = https://github.com/boostorg/core
[submodule "3rdparty/boost_throw_exception"]
	path = 3rdparty/boost_throw_exception
	url = https://github.com/boostorg/throw_exception
[submodule "3rdparty/boost_predef"]
	path = 3rdparty/boost_predef
	url = https://github.com/boostorg/predef
