[submodule "3rdparty/boost.smart_ptr"]
	path = 3rdparty/boost.smart_ptr
	url = https://github.com/boostorg/smart_ptr
[submodule "3rdparty/boost.config"]
	path = 3rdparty/boost.config
	url = https://github.com/boostorg/config
[submodule "3rdparty/boost.assert"]
	path = 3rdparty/boost.assert
	url = https://github.com/boostorg/assert
[submodule "3rdparty/boost.core"]
	path = 3rdparty/boost.core
	url = https://github.com/boostorg/core
[submodule "3rdparty/boost.throw_exception"]
	path = 3rdparty/boost.throw_exception
	url = https://github.com/boostorg/throw_exception
[submodule "3rdparty/boost.predef"]
	path = 3rdparty/boost.predef
	url = https://github.com/boostorg/predef
